.row {
  display: flex;
  flex-direction: column;
  margin: 20px 60px;
  color: white;
}

.row__title {
  margin-top: 0;
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
}

.row__previews {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 40vh;
  transition: 500ms;
  scroll-behavior: smooth;
  margin-top: 15px;
  margin-bottom: 0;
}

.row__previews::-webkit-scrollbar {
  display: none;
}

.row__arrowLeft {
  left: 60px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20%);
  transition: all 500ms;
}

.row__arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.row__right {
  transform: rotate(-45deg);
}

.row__left {
  transform: rotate(135deg);
}

.row__previews:hover .row__arrowLeft {
  opacity: 1;
  visibility: visible;
}
.row__button {
  position: absolute;
  width: 3vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.row__arrowRight {
  right: 60px;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;
}

.row__previews:hover .row__arrowRight {
  opacity: 1;
  visibility: visible;
}

.empty {
  min-width: 100px;
  min-height: 126px;
}
