.listButton {
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border-radius: 0.2vw;
  padding-left: 2vmin;
  padding-right: 2vmin;
  margin-right: 1vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.add {
  color: #fff;
  background-color: #378304d8;
  transition: all 0.8s;
}
.add:hover {
  background-color: #67e215d8;
  transition: all 0.8s;
}

.remove {
  background-color: #940606;
  transition: all 0.8s;
}
.remove:hover {
  background-color: #da1c1c;
}
