.search {
  margin-right: 40px;
  align-items: center;
}

.search__container {
  display: flex;
  align-items: center;
}

.search__input {
  background-color: #181818;
  color: white;
  width: 20vw;
  height: 20px;
  outline: none;
  border: none;
}
