.search {
  margin-right: 40px;
  align-items: center;
}

.search__container:hover .search__input {
  width: 400px;
  visibility: visible;
  transform: ease-in 0.5s;
}

.search__input {
  width: 0;
  height: 20px;
  outline: none;
  border: none;
  visibility: hidden;
}
