.listing {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin-bottom: 20px;
}

.listing__title {
  color: #595959;
  font-weight: 500;
  margin-right: 5px;
}

.listing__items {
  display: flex;
  flex-direction: column;
  padding: 0 2px 0 2px;
  word-spacing: 1%;
  flex-wrap: wrap;
}
