.movielist {
  justify-content: left;
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}

.movieList__item {
  display: flex;
  max-height: 340px;
  max-width: 240px;
  align-items: center;
  width: fit-content;
  margin: 2px;
  height: 400px;
}
