.navbar {
  position: fixed;
  top: 0;
  padding: 15px;
  height: 40px;
  z-index: 100;
  width: 100vw;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.navbar__darken {
  background-color: #000;
}

.navbar__right {
  position: sticky;
  display: flex;
  justify-content: space-around;
}

.navbar__contents {
  display: flex;
  justify-content: space-between;
}

.navbar__avatar {
  margin-right: 10px;
  position: relative;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
