.account {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.account__movieList {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  height: auto;
}

.account__button {
  cursor: pointer;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.account__button:hover {
  cursor: pointer;
  color: #111;
  background-color: #fff;
  transition: all 0.2s;
}
